mat-toolbar-row a,
mat-toolbar-row button {
  margin: 0 1rem;
  text-decoration: none;
}

.spacer {
  flex: 1 1 auto;
}

main {
  width: 80%;
  margin: 1rem auto;
}

mat-spinner {
  margin: auto;
}

mat-form-field {
  width: 100%;
}

button {
  margin: 0 0.5rem;
}
